<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Админ панель</title>

    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/auth/admin/dashboard.css}">
</head>
<body>

<div th:replace="~{fragments/navbar-admin :: body}"></div>

<div class="container">
    <div class="header">
        <h2>Панель администратора</h2>
        <a id="add-user-btn" href="/app/admin/dashboard/create" class="btn primary">
            + Добавить пользователя
        </a>
    </div>

    <div class="table-wrapper">
        <table class="users-table">
            <thead>
            <tr>
                <th>Username</th>
                <th>Roles</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="u : ${users}">
                <td th:text="${u.username}"></td>

                <td>
                <span th:each="r : ${u.roles}"
                      class="role"
                      th:text="${r}"></span>
                </td>

                <td>
                    <span th:if="${u.deleted}" class="status deleted">Удалён</span>
                    <span th:if="${!u.deleted}" class="status active">Активен</span>
                </td>

                <td class="actions">
                    <a th:href="@{/app/admin/dashboard/update/{u}(u=${u.username})}"
                       class="btn small">
                        ✏
                    </a>

                    <form th:if="${!u.deleted}"
                          th:action="@{/app/admin/dashboard/delete/{u}(u=${u.username})}"
                          method="post">
                        <button class="btn danger small">🗑</button>
                    </form>

                    <form th:if="${u.deleted}"
                          th:action="@{/app/admin/dashboard/restore/{u}(u=${u.username})}"
                          method="post">
                        <button class="btn success small">♻</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>
