<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" th:href="@{/css/mainPage.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>
<body>
<!-- Навигационная панель -->
<div th:replace="layout/navbar :: body"></div>

<!-- Основной контент -->
<div class="main-content">
    <h1>Добро пожаловать в MovieForum</h1>
    <p>Форум для любителей фильмов и сериалов</p>
</div>
</body>
</html>